apiVersion: v1
kind: ConfigMap
metadata:
 name: cluster-monitoring-config
 namespace: openshift-monitoring
data:
 config.yaml: |+
   alertmanagerMain:
     nodeSelector:
       node-role.kubernetes.io/infra: ""
     tolerations:
     - operator: 'Exists'
   prometheusK8s:
     nodeSelector:
       node-role.kubernetes.io/infra: ""
     tolerations:
     - operator: 'Exists'
   prometheusOperator:
     nodeSelector:
       node-role.kubernetes.io/infra: ""
     tolerations:
     - operator: 'Exists'
   k8sPrometheusAdapter:
     nodeSelector:
       node-role.kubernetes.io/infra: ""
     tolerations:
     - operator: 'Exists'
   kubeStateMetrics:
     nodeSelector:
       node-role.kubernetes.io/infra: ""
     tolerations:
     - operator: 'Exists'
   telemeterClient:
     nodeSelector:
       node-role.kubernetes.io/infra: ""
     tolerations:
     - operator: 'Exists'
   openshiftStateMetrics:
     nodeSelector:
       node-role.kubernetes.io/infra: ""
     tolerations:
     - operator: 'Exists'
   thanosQuerier:
     nodeSelector:
       node-role.kubernetes.io/infra: ""
     tolerations:
     - operator: 'Exists'
