apiVersion: v1
kind: Pod
metadata:
  creationTimestamp: null
  labels:
    run: curlimage
  name: curlimage
  namespace: "namespace-{{ user }}"
spec:
  containers:
  - image: quay.io/chiaretto/curlimage
    name: curlimage
    resources: {}
    command: ["sleep", "infinity"]
  dnsPolicy: ClusterFirst
  restartPolicy: Always
status: {}