apiVersion: route.openshift.io/v1
kind: Route
metadata:
  name: exercise3
  namespace: "namespace-{{ user }}"
spec:
  port:
    targetPort: 8080
  tls:
    insecureEdgeTerminationPolicy: Redirect
    termination: edge
  to:
    kind: Service
    name: exercise3
    weight: 100
  wildcardPolicy: None