apiVersion: kubevirt.io/v1
kind: VirtualMachine
metadata:
  name:   exercise10-b
  namespace: "namespace-{{ user }}"
  finalizers:
    - kubevirt.io/virtualMachineControllerFinalize
  labels:
    kubevirt.io/dynamic-credentials-support: 'true'
    app: exercise10
spec:
  dataVolumeTemplates:
    - apiVersion: cdi.kubevirt.io/v1beta1
      kind: DataVolume
      metadata:
        creationTimestamp: null
        name:  exercise10-b
      spec:
        sourceRef:
          kind: DataSource
          name: rhel9
          namespace: openshift-virtualization-os-images
        storage:
          resources:
            requests:
              storage: 30Gi
  running: true
  template:
    metadata:
      annotations:
        vm.kubevirt.io/flavor: small
        vm.kubevirt.io/os: rhel9
        vm.kubevirt.io/workload: server
      creationTimestamp: null
      labels:
        kubevirt.io/domain:  exercise10-b
        kubevirt.io/size: small
        app: exercise10
    spec:
      affinity:
        podAntiAffinity:
          requiredDuringSchedulingIgnoredDuringExecution:
          - labelSelector:
              matchExpressions:
              - key: app
                operator: In
                values:
                - exercise10
            topologyKey: kubernetes.io/hostname
      accessCredentials:
        - sshPublicKey:
            propagationMethod:
              qemuGuestAgent:
                users:
                  - lab-user
            source:
              secret:
                secretName: idrsa
      architecture: amd64
      domain:
        cpu:
          cores: 1
          sockets: 2
          threads: 1
        devices:
          disks:
            - disk:
                bus: virtio
              name: rootdisk
            - disk:
                bus: virtio
              name: cloudinitdisk
          interfaces:
            - masquerade: {}
              model: virtio
              name: default
            - bridge: {}
              model: virtio
              name: exercise10-nad-layer2
          rng: {}
        features:
          acpi: {}
          smm:
            enabled: true
        firmware:
          bootloader:
            efi: {}
        machine:
          type: pc-q35-rhel9.4.0
        memory:
          guest: 4Gi
        resources: {}
      networks:
        - name: default
          pod: {}
        - multus:
            networkName: exercise10-nad-layer2
          name: exercise10-nad-layer2
      terminationGracePeriodSeconds: 180
      volumes:
        - dataVolume:
            name:  exercise10-b
          name: rootdisk
        - cloudInitNoCloud:
            userData: |-
              #cloud-config
              user: "lab-user"
              password: redhat1
              chpasswd: { expire: False }
              runcmd:
              - [ setsebool, -P, virt_qemu_ga_manage_ssh, on ]
            networkData: |
              version: 2
              ethernets:
                eth1: 
                  addresses:
                  - 192.168.0.11/24
          name: cloudinitdisk
